$Dark-grayish-blue: hsl(219, 9%, 45%);
$Orange: hsl(26, 100%, 55%);
$Grayish-blue: hsl(220, 14%, 75%);
$Black: hsl(0, 0%, 0%);
$Black-modal: hsl(0, 0%, 0%, 0.5);
$White: hsl(0, 0%, 100%);
$Very-vark-blue: hsl(220, 13%, 13%);

$Almost-White: hsl(0, 0%, 98%);
$Medium-Gray: hsl(0, 0%, 41%);
$Almost-Black: hsl(0, 0%, 8%);